.featuredTitle{
    color:goldenrod;
    font-weight: bold;
    padding: 15px;
    font-size: 16px;
}

.featuredMoney{
    color:greenyellow;
    padding: 15px;
}

.featuredItem{
    padding: 20px;
    background-color: #4b4749;
    height: auto;
    width: 250px;
    margin: 50px;
    border-radius: 25px;
}

.featuredMoneyRate{
    color:red;
    padding: 15px;
}

.featuredSub{
    padding: 15px;
    font-size: 13px;
    font-weight: bold;
}