<<<<<<< HEAD
li{
    list-style: none;
}

.sidebar{
    flex: 0;
    height: calc(100vh - 50px);
    background-color: #1f1d1e;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 5px;
    color: goldenrod;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: goldenrod;
    font-weight: bold;
}

.sidebarList{
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarIcon{
    color: goldenrod;
    margin-right: 5px;
    font-size: 20px !important;
}
.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: rgb(207, 156, 25);
    color: #1f1d1e;
}
=======
li{
    list-style: none;
}

.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: goldenrod;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: white;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: black;
}

.sidebarList{
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: gold;
}
>>>>>>> ce5a671894f37aee6ede00bf2e76631e118d4943
