li{
    list-style: none;
}

.sidebar{
    left:0;
    height: calc(100vh - 50px);
    background-color: #515151;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 5px;
    color: rgb(219, 177, 71);
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: rgb(219, 177, 71);
    font-weight: bold;
}

.sidebarList{
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarIcon{
    color: rgb(219, 177, 71);
    margin-right: 5px;
    font-size: 20px !important;
}
.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: rgb(207, 156, 25);
    color: #1f1d1e;
}
li{
    list-style: none;
}

.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #393632;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: rgb(219, 177, 71);
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: rgb(207, 156, 25);
}

.sidebarList{
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: gold;
}
